body {
    background-color: black;
    color: white;
}
.navbar {
    margin-bottom: 20px;
    height: 60px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0) 100%);
}
.hero {
    margin-top: -80px;
    background: url('../images/test2.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1 {
    font-size: 4rem;
    margin-top: 70px;
}
.content {
    padding: 20px;
}
.footer {
    color: white;
    padding: 20px 0;
    text-align: center;
}
.news img {
    width: 100%;
    height: auto;
}


p, li {
    color: rgba(255, 255, 255, 0.55);
}


.blockquote-footer, label {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.55);
}



.row {
    margin-bottom: 50px;
}



h3{
    margin: 15px 0;
}



a {
    text-decoration: none;
    color: #fff;
}

















::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border: 3px solid #ffffff50;
    /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--background-color-dark);
    border: 3px solid #ffffff3a;
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--background-color-dark);
    border: 3px solid hsla(304, 97%, 25%, 0.822);
}

::-webkit-scrollbar-track {
    background-color: #00000000;
    border: 0;
}

::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

::-webkit-scrollbar-track:active {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}







