body {
    background-color: black;
    color: white;
}
.navbar {
    margin-bottom: 20px;
    height: 60px;
}
.hero {
    margin-top: -80px;
    background: url('../images/test2.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1 {
    font-size: 4rem;
    margin-top: 70px;
}
.content {
    padding: 20px;
}
.footer {
    color: white;
    padding: 20px 0;
    text-align: center;
}
.news img {
    width: 100%;
    height: auto;
}


p, li {
    color: rgba(255, 255, 255, 0.55);
}


.blockquote-footer, label {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.55);
}



.row {
    margin-bottom: 50px;
}



h3{
    margin: 15px 0;
}